// leaflet marker
.leaflet-popup {
  font-family: var(--font-type);

  .leaflet-popup-content-wrapper {
    background: var(--col-dark);
    color: var(--col-light);
    border-radius: 5px;
  }
  .leaflet-popup-content {
    font-size: 1.5rem;
    letter-spacing: -1px;
    text-align: center;
    font-weight: 500;
  }
  .leaflet-popup-tip {
    background: var(--col-dark);
  }
}

// how to use
.use {
  grid-column: 2;
  grid-row: 1;
  z-index: 2;
  position: relative;

  align-self: end;
  justify-self: end;

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1;
    grid-row: 1;
  }

  .show-use {
    height: 20rem;
    width: 20rem;
    background: var(--col-dark);
    border-radius: 15px;

    position: absolute;
    bottom: 4rem;
    right: 4rem;
    z-index: 2;

    font-family: var(--font-type);
    font-size: 1.5rem;
    line-height: 15px;
    letter-spacing: -0.5px;
    color: var(--col-light);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0.5rem;

    display: none;

    &.show {
      display: block;
    }
  }
}

// how to use & my locaion buttons
.my-loc,
.how-use {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background: var(--col-dark);
  color: var(--col-white);
  white-space: nowrap;
  margin: 0.5rem;

  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-end;
}

.my-loc {
  grid-column: 2;
  grid-row: 1;
  align-self: flex-start;

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1;
    grid-row: 1;
  }
}

// authors part
.credits-to {
  font-family: var(--font-type);
  font-size: 1.5rem;
  text-align: center;
}
